html{
    font-family: "Poppins", sans-serif ;
}

h1{
    font-family: "Young serif", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #5f9459, #39365c);
    display: flex;
    flex-direction: column;
    
    gap: 30px;
    padding: 30px 20px;
    

}

header,
main,
footer{
    width: 800px;
    max-width: 100%;
    margin: 0 auto; 
    
}

header{
    display: flex;
    align-items: center;
    gap: 25px;
}

.list{
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;       
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(252, 251, 251);  
}

.row {
    display: flex;    
    align-items: stretch;   
    border: solid 2px rgb(29, 59, 48);       
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: #c4eec0;
    padding:8px;
    font-weight: 400;
    font-size: 1.2rem;
    width: 100%;
}

button {
    border: none;
    outline: none;
    padding: 0px 16px;
    background: #e6a749;
    font-size: 1.2rem;
    cursor: pointer;    
}

button:hover{
    background: #0e374b;
    color: #9baf99;
}

ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/1x/outline_radio_button_unchecked_black_24dp.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #9cb4ac;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(img/1x/outline_check_circle_black_24dp.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 2px;
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    color: #c8e9de;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #c8e9de;
    color: #346e56;
}
/* 


.app header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.app header h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.app header button {
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #396653;
    box-shadow: 0px 0px 5px rgb(252, 251, 251);
    margin-bottom: 1.5rem;
}

.item:last-of-type {
    margin-bottom: 0;
}

.item input[type="checkbox"] {
    margin-right: 1rem;
}

.item input[type="text"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    flex: 1 1 0%;
    margin-right: 1rem;
}

.item input[type="text"]:not(:disabled) {
    border-bottom: 2px solid #fff;
}

.item.complete {
    opacity: 0.7;
}

.item.complete input[type="text"] {
    text-decoration: line-through;
}

.item:hover,
.item:focus-within {
    outline: 2px solid #fff;
}

.actions button {
    color: #ccc;
    margin-right: 1rem;
    opacity: 0.8;
    transform: 0.1s;
}

/* .actions button.remove-btn {
    color: rgba(107, 3, 12, 0.322);
} 

.actions button:hover {
    opacity: 1;
    color: rgba(255, 4, 25, 0.432);
}

.actions button:last-of-type {
    margin-right: 0;
} */
